node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

.vercel
postman/
.env
.env.local
node_modules/
dist/
.next/
*.pem
*.key
postman/
.env
.env.local
node_modules/
dist/
.next/
*.pem
*.key
